<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AdMapper">
    
    <resultMap type="Ad" id="AdResult">
        <result property="id"    column="id"    />
        <result property="url"    column="url"    />
        <result property="title"    column="title"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="type"    column="type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="useNum"    column="use_num"    />
    </resultMap>

    <sql id="selectAdVo">
        select id, url, title, status, remark, type, create_by, create_time, update_by, update_time, use_num from v_ad
    </sql>

    <select id="selectAdList" parameterType="Ad" resultMap="AdResult">
        <include refid="selectAdVo"/>
        <where>  
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectAdById" parameterType="Long" resultMap="AdResult">
        <include refid="selectAdVo"/>
        where id = #{id}
    </select>

    <insert id="insertAd" parameterType="Ad" useGeneratedKeys="true" keyProperty="id">
        insert into v_ad
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="url != null">url,</if>
            <if test="title != null">title,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="type != null">type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="url != null">#{url},</if>
            <if test="title != null">#{title},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="type != null">#{type},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAd" parameterType="Ad">
        update v_ad
        <trim prefix="SET" suffixOverrides=",">
            <if test="url != null">url = #{url},</if>
            <if test="title != null">title = #{title},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="useNum != null">use_num = #{useNum},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAdById" parameterType="Long">
        delete from v_ad where id = #{id}
    </delete>

    <delete id="deleteAdByIds" parameterType="String">
        delete from v_ad where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>