<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AdOtherMapper">
    
    <resultMap type="AdOther" id="AdOtherResult">
        <result property="id"    column="id"    />
        <result property="url"    column="url"    />
        <result property="title"    column="title"    />
        <result property="orderNum"    column="order_num"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="type"    column="type"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectAdOtherVo">
        select id, url, title, order_num, status, remark, type, create_by, create_time, update_by, update_time from v_ad_other
    </sql>

    <select id="selectAdOtherList" parameterType="AdOther" resultMap="AdOtherResult">
        <include refid="selectAdOtherVo"/>
        <where>  
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectAdOtherById" parameterType="Long" resultMap="AdOtherResult">
        <include refid="selectAdOtherVo"/>
        where id = #{id}
    </select>

    <insert id="insertAdOther" parameterType="AdOther" useGeneratedKeys="true" keyProperty="id">
        insert into v_ad_other
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="url != null">url,</if>
            <if test="title != null">title,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="type != null">type,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="url != null">#{url},</if>
            <if test="title != null">#{title},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="type != null">#{type},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateAdOther" parameterType="AdOther">
        update v_ad_other
        <trim prefix="SET" suffixOverrides=",">
            <if test="url != null">url = #{url},</if>
            <if test="title != null">title = #{title},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAdOtherById" parameterType="Long">
        delete from v_ad_other where id = #{id}
    </delete>

    <delete id="deleteAdOtherByIds" parameterType="String">
        delete from v_ad_other where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>