<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RechargeActivityMapper">
    
    <resultMap type="RechargeActivity" id="RechargeActivityResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="money"    column="money"    />
        <result property="moneyGive"    column="money_give"    />
        <result property="moneyBuy"    column="money_buy"    />
        <result property="orderNum"    column="order_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectRechargeActivityVo">
        select id, title, money, money_give, money_buy, order_num, create_by, create_time, update_by, update_time from v_recharge_activity
    </sql>

    <select id="selectRechargeActivityList" parameterType="RechargeActivity" resultMap="RechargeActivityResult">
        <include refid="selectRechargeActivityVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="money != null "> and money = #{money}</if>
            <if test="moneyGive != null "> and money_give = #{moneyGive}</if>
            <if test="moneyBuy != null "> and money_buy = #{moneyBuy}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
        </where>
        order by order_num asc
    </select>
    
    <select id="selectRechargeActivityById" parameterType="Long" resultMap="RechargeActivityResult">
        <include refid="selectRechargeActivityVo"/>
        where id = #{id}
    </select>

    <insert id="insertRechargeActivity" parameterType="RechargeActivity" useGeneratedKeys="true" keyProperty="id">
        insert into v_recharge_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="money != null">money,</if>
            <if test="moneyGive != null">money_give,</if>
            <if test="moneyBuy != null">money_buy,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="money != null">#{money},</if>
            <if test="moneyGive != null">#{moneyGive},</if>
            <if test="moneyBuy != null">#{moneyBuy},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateRechargeActivity" parameterType="RechargeActivity">
        update v_recharge_activity
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="money != null">money = #{money},</if>
            <if test="moneyGive != null">money_give = #{moneyGive},</if>
            <if test="moneyBuy != null">money_buy = #{moneyBuy},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRechargeActivityById" parameterType="Long">
        delete from v_recharge_activity where id = #{id}
    </delete>

    <delete id="deleteRechargeActivityByIds" parameterType="String">
        delete from v_recharge_activity where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>